<app-header></app-header>
<!-- Section: Blog v.1 -->
<section class="my-1">
  <!-- Grid row -->
  <div class="container blue-grey lighten-5 py-1">
    <div class="row  m-2 mt-1">
      <!-- Grid column -->
      <div class="col-lg-1 cyan darken-3">
        <!-- Featured image -->
        <i class="fas fa-apple-alt fa-2x text-white m-2"></i>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-lg-10 pt-3">
        <!-- Category -->
        <!-- Post title -->
        <span class="align-bottom display-6"><strong>Fruit Nut Bar(11111111111111111111110000.0.23)</strong></span>
        <span> &nbsp;&nbsp;{{typeRange}}</span>
        <span> &nbsp;&nbsp;{{valRange}}</span>
        <!-- Excerpt -->
      </div>
      <div class="col-lg-2">
        <!-- Category -->
        <!-- Post title -->

        <!-- Excerpt -->
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="row">
      <!-- Time line primero tabs -->
      <div class="col-lg-12">

        <ul class="nav nav-tabs nav-stacked">
          <li class="nav-item">
            <a href="" class="nav-link active">Farm to store view</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Multi-ingredient view</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-12 text-center">
        <img src="./../../../assets/img/timeline.PNG" class="img-fluid" alt="">
      </div>
      <div class="row justify-content-md-center">
      <div class="col-lg-2 text-center">
        <h5>info Producers</h5>
        <h3>15</h3>
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title color="secondary">
              <h6>Vanilla Pods</h6>
            </mdb-card-title>
            <mdb-card-text>
              <h6>2 farms &nbsp;&nbsp;&nbsp; <strong>^</strong></h6>
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      <hr>
        <mdb-card>
            <mdb-card-body>
              <mdb-card-title color="secondary">
                <h6>Whole cashews</h6>
              </mdb-card-title>
              <mdb-card-text>
                <h6>3 farms &nbsp;&nbsp;&nbsp; <strong>^</strong></h6>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
          <hr>
          <mdb-card>
              <mdb-card-body>
                <mdb-card-title color="secondary">
                  <h6>Whole Dates</h6>
                </mdb-card-title>
                <mdb-card-text>
                  <h6>4 farms &nbsp;&nbsp;&nbsp; <strong>^</strong></h6>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
            <hr>
            <mdb-card>
                <mdb-card-body>
                  <mdb-card-title color="secondary">
                    <h6>Bulk fresh blueberries</h6>
                  </mdb-card-title>
                  <mdb-card-text>
                    <h6>6 farms &nbsp;&nbsp;&nbsp; <strong>^</strong></h6>
                  </mdb-card-text>
                </mdb-card-body>
              </mdb-card>
      </div>
      <div class="col-lg-2 text-center">
        <h5>Warehouse</h5>
        <h3>4</h3>
        <h6>Spice & Co</h6>
        <mdb-card>
            <mdb-card-body>
              <mdb-card-title color="secondary">
                <h6>Vanilla Extract</h6>
              </mdb-card-title>
              <mdb-card-text>
                <h6>1 werehouses &nbsp;&nbsp;&nbsp; <strong>^</strong></h6>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        <hr>
        <h6>Nutty Brothers</h6>
          <mdb-card>
              <mdb-card-body>
                <mdb-card-title color="secondary">
                  <h6>Raw Cashews</h6>
                </mdb-card-title>
                <mdb-card-text>
                  <h6>1 werehouses &nbsp;&nbsp;&nbsp; <strong>^</strong></h6>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
            <hr>
            <h6>Sun Dates</h6>
            <mdb-card>
                <mdb-card-body>
                  <mdb-card-title color="secondary">
                    <h6>Pitted, Dried Dates</h6>
                  </mdb-card-title>
                  <mdb-card-text>
                    <h6>1 werehouses &nbsp;&nbsp;&nbsp; <strong>^</strong></h6>
                  </mdb-card-text>
                </mdb-card-body>
              </mdb-card>
              <hr>
              <h6>Papas Berries Inc.</h6>
              <mdb-card>
                  <mdb-card-body>
                    <mdb-card-title color="secondary">
                      <h6>Dried Blueberries Inc.</h6>
                    </mdb-card-title>
                    <mdb-card-text>
                      <h6>1 Werehouses &nbsp;&nbsp;&nbsp; <strong>^</strong></h6>
                    </mdb-card-text>
                  </mdb-card-body>
                </mdb-card>
      </div>
      <div class="col-lg-2 text-center">
        <h5>Manufacter of Goods</h5>
        <h3>5</h3>
        <h6>Mighty Bars Corp.</h6>
        <mdb-card>
            <mdb-card-body>
              <mdb-card-title color="secondary">
                <h6>Blueberry Fruit & Nut Bar.</h6>
              </mdb-card-title>
              <mdb-card-text>
                <h6>4 Manufacturing &nbsp;&nbsp;&nbsp; <strong>^</strong></h6>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
          <hr>
          <h6>Fruit  Form Inc.</h6>
          <mdb-card>
              <mdb-card-body>
                <mdb-card-title color="secondary">
                  <h6>Blueberry Fruit & Nut Bar.</h6>
                </mdb-card-title>
                <mdb-card-text>
                  <h6>1 Manufacturing &nbsp;&nbsp;&nbsp; <strong>^</strong></h6>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>

      </div>
      <div class="col-lg-2 text-center">
        <h5>Distributor</h5>
        <h3>4</h3>
        <h6>Transport Center.</h6>
        <mdb-card>
            <mdb-card-body>
              <mdb-card-title color="secondary">
                <h6>Blueberry Fruit & Nut Bar.</h6>
              </mdb-card-title>
              <mdb-card-text>
                <h6>1 D Center &nbsp;&nbsp;&nbsp; <strong>^</strong></h6>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
          <hr>
          <h6>Distro Dept Inc.</h6>
          <mdb-card>
              <mdb-card-body>
                <mdb-card-title color="secondary">
                  <h6>Blueberry Fruit & Nut Bar.</h6>
                </mdb-card-title>
                <mdb-card-text>
                  <h6>3 D Center &nbsp;&nbsp;&nbsp; <strong>^</strong></h6>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
      </div>
      <div class="col-lg-2 text-center">
        <h5>Store</h5>
        <h3>254</h3>
        <h6>Super Store Inc.</h6>
        <mdb-card class=" border-left border-info">
            <mdb-card-body>
              <mdb-card-title color="secondary">
                <h6>Blueberry Fruit & Nut Bar.</h6>
              </mdb-card-title>
              <mdb-card-text>
                <h6>165 Stores &nbsp;&nbsp;&nbsp; <strong>^</strong></h6>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
          <hr>
          <h6>Neighborhood Market.</h6>
          <mdb-card>
              <mdb-card-body>
                <mdb-card-title color="secondary">
                  <h6>Blueberry Fruit & Nut Bar.</h6>
                </mdb-card-title>
                <mdb-card-text>
                  <h6>80 Stores &nbsp;&nbsp;&nbsp; <strong>^</strong></h6>
                </mdb-card-text>
              </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Blog v.1 -->
<app-footer></app-footer>
