<div style="height: 100vh">
  <div class="flex-center flex-column">
    <mdb-card >
      <!--Card content-->
      <mdb-card-body class="elegant-color px-lg-5 pt-2">
        <!-- Form -->
        <img src="../assets/img/logo.png" width="255" class=""  >
        <form class="text-center" style="color: #757575;">
    
          <!-- Email -->
          <div class="md-form">
            <input type="email" id="materialLoginFormEmail" color="info" class="form-control" mdbInputDirective>
            <label for="materialLoginFormEmail">E-mail</label>
          </div>
    
          <!-- Password -->
          <div class="md-form">
            <input type="password" id="materialLoginFormPassword" class="form-control" mdbInputDirective>
            <label for="materialLoginFormPassword">Password</label>
          </div>
    
          <div class="d-flex justify-content-around">
            <div>
              <!-- Remember me -->
              <mdb-checkbox>Remember me</mdb-checkbox>
            </div>
            <div>
              <!-- Forgot password -->
              <a href="">Forgot password?</a>
            </div>
          </div>
    
          <!-- Sign in button -->
          <a routerLink="/home" mdbBtn color="info" outline="true" rounded="true"  block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
            type="button">Sign in</a>
       
          <!-- Register -->
          <p>Not a member?
            <a href="">Register</a>
          </p>
    
          
        </form>
        <!-- Form -->
      </mdb-card-body>
    
    </mdb-card>
  </div>
</div>